<h2>New Products View</h2>
<form action="/products" method="post">
  <label for="">Name</label><br />
  <input type="text" name="product[name]" size="30" />

  <br />
  <label for="">Price</label><br />
  <input type="number" name="product[price]" />
  <br />
  <input type="submit" value="Create Product" />
</form>
